<!Doctype html>
<html>
    <style>
        
    </style>
    <head>
        <title>Enquiry Page</title>
    </head>
    <body>
        <center>
        <h1>Medical Insurance Prediction</h1>
        <br>
        <form action="/predict" method="POST">
             one : 
                <input type "number" placeholder = "Enter first value" name="one"> <br><br>
                    two:

                    <input type "number" placeholder = "Enter second value" name="two"> <br><br>
                        
                       three:
                       <input type "number" placeholder = "Enter third value" name="three"> <br><br>
                        <br><br>
                        four:
                        
                        <input type "number" placeholder = "Enter fourth value" name="four"> <br><br>
                        
                        <button type="Submit">Submit</button>
                        
                        
        </form>
        </center>
    </body>
</html>